<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Corte 3 Alumnos</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <script src="./js/bootstrap.js"></script>
    <script src='app.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <style>
        .form-group {
          margin-bottom: 10px;
          margin-left: 10px;
        }
        </style>
</head>

<body>
    
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <center>
                    <h1><%=titulo%></h1>
                    <br>
                    <img src="./img" alt="">
                    <br>
                    <br>
                </center>
               
                <br>
                <table class="table table-striped table-hover table-bordered" id="tablaAlumnos">
                    <thead class="table-dark">
                        <tr style="font-family: 'Times New Roman', Times, serif;">
                            <th>Id</th>
                            <th>Matricula</th>
                            <th>Nombre</th>
                            <th>Domicilio</th>
                            <th>Sexo</th>
                            <th>Especialidad</th>
                        </tr>
                    </thead>
                    <tbody >
                        <% for(alumno of listado){ %>
                            <tr style="font-family: Arial, Helvetica, sans-serif;">
                                <td><%=alumno.idAlumno%></td>
                                <td><%=alumno.Matricula%></td>
                                <td><%=alumno.Nombre%></td>
                                <td><%=alumno.Domicilio%></td>
                                <td><%=alumno.Sexo%></td>
                                <td><%=alumno.Especialidad%></td>
                            </tr>
                            <%
                        }
                        %>
                    </tbody>
                    
                    
        
                </table>

                <form >
                    <div class="d-flex justify-content-end">
                        
                        
                        <button type="button" class="btn btn-primary mr-2" id="btnBuscar" id="txtBusqueda">Buscar</button>
                   
                    <div class="form-group" >
                      <label for="txtMatricula"></label>
                      <input type="number" class="form-control" id="txtMatricula" aria-describedby="Matricula" placeholder="Consultar por Matricula" name="Matricula" required>
                      <small id="matriculaHelp" class="form-text text-muted"></small>
                    </div>
                    <div class="form-group">
                      <label for="txtNombre"></label>
                      <input type="text" class="form-control" id="txtNombre" placeholder="Nombre" name="Nombre" value="<%=campos.Nombre%>" >
                    </div>
                    <div class="form-group">
                        <label for="txtDomicilio"></label>
                        <input type="text" class="form-control" id="txtDomicilio" placeholder="Domicilio" name="Domicilio" value="<%=campos.Domicilio%>" >
                    </div>
                    <div class="form-group">
                        <label for="txtSexo"></label>
                        <select class="form-control" id="txtSexo" name="Sexo" placeholder="Sexo">
                            <option disabled selected>Sexo</option>
                            <option value="H" <%=campos.Sexo === 'H' ? 'selected' : ''%>>H</option>
                            <option value="M" <%=campos.Sexo === 'M' ? 'selected' : ''%>>M</option>
                          </select>                   
                    </div>
                    <div class="form-group">
                        <label for="txtEspecialidad"></label>
                        <input type="text" class="form-control" id="txtEspecialidad" placeholder="Especialidad" name="Especialidad" value="<%=campos.Especialidad%>" >
                    </div>
                    <br>
                </div>
<div class="d-flex justify-content-end">
    
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="submit" formaction="/agregar" formmethod="get" class="btn btn-primary">Agregar</button>
        <button type="submit" formaction="/borrar" formmethod="get" class="btn btn-primary">Borrar</button>
        <button type="submit" formaction="/modificar" formmethod="get" class="btn btn-primary">Modificar</button>
    </div>
</div>
</div>
                  </form>

            </div>
        </div>
    </div>
        

    <script>
        $(document).ready(function(){
    $("#btnBuscar").on("click", function() {
      var value = $("#txtMatricula").val().toLowerCase();
      $("#tablaAlumnos tbody tr").filter(function() {
        var matricula = $(this).find("td:nth-child(2)").text().toLowerCase();
        $(this).toggle(matricula.indexOf(value) > -1)
      });
    });
  });
        </script>
</body>
</html>