    

    <center>
        <%-include('partials/encabezado.html');%>
    </center>        


<body>
    
    <div class="container">
        <center>
        <h1>Tablas de Multiplicar</h1>

        <form action="/tablas" method="post">
            
            <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" id="tabla" name="tabla" required="true" placeholder="Escriba un número para obtener su tabla de multiplicar">
            <br><br>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Obtener tabla de multiplicar</button>
            
        </form>
        <br><br>
        
        <%

            if(tabla != null){
                let res = 0;

                for(con = 1; con<=10; con++){
                    res = con * tabla;
                    %>
                    
                    <table class="table table-striped table-hover  table-bordered border-secondary" style="text-align: center;">
                        <tr>
                            <th scope="row"><%=tabla%> x <%=con%> = <%=res%></th>
                        </tr>
                    </table>
                    <%
                }
            }



        %>
    

    </center>

    </div>
    <center>
        <%-include('partials/piePagina.html');%>
    </center>
    

</body>
</html>